/*Remove margens do navegador*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Configurações geral da pagina */
body{
  background-color: #050805;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Area principal da Home */
section{
  min-height:  100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Titulo principal */
h1{
  font-size: 5rem;
  color: #39ff14
}

/*Subtitulo */
p{
  font-size: 15px;
  margin-top: 1.2rem;
  color: #cfcfcf;
}

/*botão */
button{
  margin-top: 25px;
  padding: 15px 30px;
  border: none;
  background-color: #39ff14;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}